form {
    margin-top: 50px;
    font-size: 40px;
}

input {
    height: 40px;
    font-size: 30px;
    margin-bottom: 5px;
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic);
.search-blockquote{
  font-size: 1.9em;
  /* width:60%; */
  margin:50px;
  font-family:Open Sans;
  font-style:italic;
  color: #555543;
  padding:1.2em 30px 1.2em 75px;
  border-left:8px solid #78C0A8 ;
  line-height:1.6;
  position: relative;
  background:#EDEDED;
}

.search-blockquote::before{
  font-family:Arial;
  content: "\201C";
  color:#78C0A8;
  font-size:5em;
  position: absolute;
  left: 2px;
  top:-40px;
}

.search-blockquote::after{
  content: '';
}

.search-blockquote span{
  display:block;
  color:#333333;
  font-style: normal;
  font-weight: bold;
  margin-top:1em;
}