.search-page {
    width: 80%;
    margin-top: 1000px;
    margin: auto;
    padding: 10px;
    height: auto;
}
.buttons {
    float: left;
}

.scripture-box {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    margin-left: 50%;
    color: white;
    height: 100%;
  }

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic);
.otro-blockquote{
  font-size: 1.9em;
  width:60%;
  margin:50px 25%;
  font-family:Open Sans;
  font-style:italic;
  color: #555543;
  padding:1.2em 30px 1.2em 75px;
  border-left:8px solid #78C0A8 ;
  line-height:1.6;
  position: relative;
  background:#EDEDED;
}

.otro-blockquote::before{
  font-family:Arial;
  content: "\201C";
  color:#78C0A8;
  font-size:5em;
  position: absolute;
  left: 2px;
  top:-40px;
}

.otro-blockquote::after{
  content: '';
}

.otro-blockquote span{
  display:block;
  color:#333333;
  font-style: normal;
  font-weight: bold;
  margin-top:1em;
}